body {
	background-color: #000000;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../../../image/general/loader.gif') 50% 50% no-repeat #000000;
	opacity: .9;
}

.fullContain {
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

#special-info {
	margin-top: 4rem;
	margin-bottom: 0px;
	padding-bottom: 0px;
	color: #ffffff;
	text-align: center;
	line-height: 2.2rem;
	font-size: 2rem;
	word-break: break-all;
}

#special-info a, #special-info a:link, #special-info a:visited, #special-info a:hover {
	color: #aaaaaa;
	text-decoration: none;
}

a, a:link, a:visited, a:hover {
	text-decoration: none;
}